body {
    background-color: #909e84;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    opacity: 0.8;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    /*Splits space equally horizontally*/
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 2px;
    background-color:rgb(117,101,76);
    /*box-shadow: 4px 8px 8px 0 rgba(0,0,0,0.1);*/
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
        


}

.title{
    position: relative;
    color:rgb(84, 94, 83);
    width: 100%;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    /*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;

}

.subtitle{
    color: rgb(124, 138, 121);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -80%;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 0px 0px 0px rgba(0,0,0,0.3);
}

button{
    height: 50px;
    width: 100px;
    opacity: 1;
    background-color: rgb(117,101,76);
    color:rgb(167,156,141);
    position: absolute;
    border-radius: 4px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Major Mono Display', monospace;*/
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;

}

.menu{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: #595f53;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    margin-top: 5px;
    margin-left: 5px;
    /*float: left;*/

}

.left {
    bottom: 40%;
    left: -40%;

}

.right {
    bottom: 40%;
    right: -40%;
}

.barstyle{
    position: absolute;
    height: 7px;
    width: 55px;
    border-radius: 4px;
    background-color: rgb(167,156,141);
    left: 22%;
    box-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;

}

.bar1{
    top: 8%;
}

.bar2{
    top: 28%;
}

.bar3{
    bottom: 15%;
}